
@media only screen and (max-width: 1920px) {

p {
	text-align: center;
	position: absolute;
	font-size: 21px;
	line-height: 1.5em;
	padding: 20% 15% 2% 15%;
	color: white;
	text-shadow: 1px 1px 0.2px black;
	
}

@media only screen and (max-width: 1024px) {
	
p {
	text-align: center;
	position: absolute;
	font-size: 21px;
	line-height: 1.5em;
	padding: 20% 10% 2% 10%;
	color: white;
  }
}

@media only screen and (max-width: 768px) {
	
p {
	text-align: center;
	position: absolute;
	font-size: 18px;
	line-height: 1.3em;
	padding: 18% 8% 2% 8%;
	color: white;
  }
}	


img .left_side {
	position: absolute;
	z-index: -1;
	top: -0.1px;
	left: -0.1px;
	padding: 0;
	max-width: 100%;
	border: none;
}

img .two {

	position: absolute;
	top: 80%;
	padding: 0;
	max-width: 100%;
}