/*#set-height {
  display: block;
}*/
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 112%;
  z-index: -1;
}


body {
	
	overflow-x: hidden;
}



.title {
	position: fixed;
	z-index: 1;
	color: black;
	font-family: Quicksand;
	letter-spacing: .2em;
	font-weight: normal;
	font-size: 2em;
	top: 40%;
	left: 10%;

}